#gradient {
  height: 950px;
  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #000000, #474747); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #000000, #474747); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #000000, #474747); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #000000, #474747); /* Standard syntax (must be last) */
}

body {
  background-color: #34373a;
  background-image: url("navibg.png");
  background-repeat: repeat-y;
  background-position: left top;
}

p {
  font-weight: bold;
}

h3 {
  color: #00ffcc;
  font-size: 18px;
  text-align: center;
  font-family: Tahoma;
  letter-spacing: 2px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #f006d4, #f4d27a, #19f3f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #00ffcc;
  font-size: 48px;
  text-align: center;
  font-family: Tahoma;
  letter-spacing: 2px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #f006d4, #f4d27a, #19f3f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  margin: 0px;
  padding-top: 15px;
  font-size: 48px;
  text-align: left;
}

img {
  float: right;
  margin-right: 300px;
}

#logo {
  text-align: left;
  color: #f006d4;
  text-shadow: 2px 2px 4px #19f3f3;
  padding: 15px;
  padding-bottom: 50px;
  text-align: left;
  margin-bottom: 70px;
}

.button {
  font-family: Tahoma;
  background-color: #19f3f3;
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #19f3f3;
  background-color: #34373a;
  border:  2px solid #19f3f3;
  border-radius: 3px;
  box-shadow: 0 1px black;
  margin-left: 580px;
}

.button:hover {
  background-color: #19f3f3;
  color: #34373a;
  -webkit-animation: bounce .3s infinite alternate;
  -moz-animation: bounce .3s infinite alternate;
  animation: bounce .3s infinite alternate;
  animation-iteration-count:2;
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}
}

.button:active {
  background-color: #19f3f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.navi {
  margin: 15px;
  margin-left: 25px;
  padding: 5px;
}

#map {
  margin-left: 490px;
  height: 400px;
  width: 500px;
}

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: black;
  border-radius: 3px;
}

.skills {
  text-align: right;
  padding-right: 10px;
  line-height: 20px;
  border-radius: 3px;
  color: white;
}

.html {width: 90%; background-color: #f006d4;}
.css {width: 80%; background-color: #f4d27a;}
.js {width: 65%; background-color:  #19f3f3;}
.sql {width: 60%; background-color: #f006d4;}
.python {width: 60%; background-color: #f4d27a;}
.csharp {width: 50%; background-color:  #19f3f3;}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container :hover .overlay {
  opacity: 1;

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}